{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",

    "importOrder": [
        "^styles.css$",
        "",
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@types/(.*)$",
        "^types/(.*)$",
        "",
        "^constants/(.*)$",
        "",
        "^utils/(.*)$",
        "",
        "^hooks/(.*)$",
        "",
        "^components/(.*)$",
        "",
        "^src/(.*)$",
        "",
        "^[./]"
    ],

    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
