:root {
  --gray1: #fcfcfc;
  --gray2: #f9f9f9;
  --gray3: #f0f0f0;
  --gray4: #e8e8e8;
  --gray5: #e0e0e0;
  --gray6: #d9d9d9;
  --gray7: #cecece;
  --gray8: #bbbbbb;
  --gray9: #8d8d8d;
  --gray10: #838383;
  --gray11: #646464;
  --gray12: #202020;

  --color-bg: #fff;
  --color-fg: var(--gray12);
  --color-secondary: var(--gray6);
  --color-secondary-fg: var(--gray9);
  --color-muted: var(--gray3);
  --color-muted-fg: var(--gray8);

  --color-border: var(--gray7);
  --color-border-hover: var(--gray6);
  --color-border-muted: var(--gray4);
  --color-border-muted-hover: var(--gray5);

  --shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);

  --transition: cubic-bezier(0.4, 0, 0.2, 1);

  --duration: 0.4s;

  --sc-1: 0.25rem;
  --sc-2: 0.5rem;
  --sc-3: 0.75rem;
  --sc-4: 1rem;
  --sc-5: 1.25rem;
  --sc-6: 1.5rem;

  --rd-1: 0.25rem;
  --rd-2: 0.5rem;
  --rd-3: 0.75rem;
  --rd-4: 1rem;
}

.nt-popover {
  position: fixed;
  z-index: 10010;
  top: 0;
  left: 0;
}

.nt-popover.enable-transition {
  transition: transform var(--duration) var(--transition);
  will-change: transform;
}

.nt-popover-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: nt-fade-in var(--duration) var(--transition);
}

.nt-popover-overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.nt-step-container {
  min-width: 350px;

  background-color: var(--color-bg);
  color: var(--color-fg);

  box-shadow:
    var(--shadow-border),
    0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04),
    0px 16px 24px -8px rgba(0, 0, 0, 0.06);

  border-radius: var(--rd-3);
  animation: nt-fade-in var(--duration) var(--transition);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nt-step-container[data-show-overlay='true'] {
  box-shadow: none;
}

.nt-button {
  border: none;
  padding: var(--sc-3) var(--sc-5);
  width: auto;
  overflow: visible;

  outline: none;

  background: var(--gray12);
  cursor: pointer;

  color: var(--gray1);
  font: inherit;
  font-weight: 500;
  text-align: center;
  font-size: 0.875rem;

  border-radius: var(--rd-2);
  opacity: 1;

  line-height: normal;
  transition: all 0.15s var(--transition);
}

.nt-button:hover {
  opacity: 0.8;
}

.nt-button[data-variant='outline'] {
  background-color: transparent;
  color: var(--color-fg);
  border: 1px solid var(--color-border);
}

.nt-button[data-variant='outline']:hover {
  background-color: var(--color-muted);
  border: 1px solid var(--color-border-hover);
  opacity: 1;
}

.nt-step-footer {
  width: 100%;
  padding: var(--sc-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-border-muted);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  gap: var(--sc-4);
}

.nt-step-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sc-1);
}

.nt-step-content {
  padding: var(--sc-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  gap: var(--sc-2);
  max-width: 340px;
  text-wrap: pretty;
}

.nt-step-title {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.nt-step-progress {
  height: 4px;
  width: 100%;
  background-color: var(--color-muted);
  border-radius: 999px;
  position: relative;
  overflow: hidden;
}

.nt-step-progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--color-secondary-fg);
  transition: width 0.3s var(--transition);
  border-radius: inherit;
}

@keyframes nt-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
